# Lesson 3 in Python Programming.

**Aim of this notebook:** learn on the following topics:
> lists

# Lists

Lists are the first examples of Python data containers. Here is a list of two numbers:

In [27]:
my_list = [10, 4, 20]
my_list

[10, 4, 20]

Notice the square brackets around the list items, and a comma between the
items.

In [30]:
my_list[0], my_list[1], my_list[-1]

(10, 4, 20)

**Warning:** Python indexed elements in a list starting from 0.

In [29]:
#We access to the number of elements in a list via the 'len()' function:
len(my_list)

3

**Exercise:** What are the lengths of the following lists? Fill in the variable `lengths` with your predictions. (Try to make a prediction for each list *without* just calling `len()` on it.)

In [48]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]

# Put your predictions in the list below. Lengths should contain 4 numbers, the
# first being the length of a, the second being the length of b and so on.
lengths = [3, 2, 0, 2]

#### Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as _slicing_. Let's begin by using Python's built-in `range` function to create a list of integers:

In [5]:
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

To get a slice from $[2,4)$ we run

In [6]:
L[2:4]

[2, 3]

while to get a slice from index 2 to the end of the list we run

In [8]:
L[2:]#get all elements starting from the one indexed by 2 (ie the third one in the list)

[2, 3, 4, 5, 6, 7, 8, 9]

To get a slice from the start to index 5 (exclusive) we run

In [9]:
L[:5]#get the first 5 elements

[0, 1, 2, 3, 4]

To get a slice of the whole list:

In [10]:
L[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
L[-1]#get the last element

9

In [19]:
L[::2]#slice with a step of size 2

[3, 6, 9]

In [ ]:
L[3::3]#slice with a step of size 3 starting at 3

**Exercise:**  
- get the list of all even numbers from 0 to 30
- get the list of all odd numbers from 10 to 30

In [18]:
my_list = list(range(0,31))
print(my_list[::2])
my_list[1::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

Slices can also be negative

In [11]:
L[:-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L[2:4] = ['a', 'b']
L

[0, 1, 'a', 'b', 4, 5, 6, 7, 8, 9]

In [64]:
my_list = [1, 2, 3, 8, 9, 10, 20]
my_list[4::-2]

[9, 3, 1]

**Exercise:** 
1. Construct a list of all the numbers from 0 to 10
2. Retreive all the even numbers with a carefully chosen slicing

In [21]:
my_list = list(range(0,11))
my_list[2::2]

[2, 4, 6, 8, 10]

You can make an empty list by putting nothing between the brackets:

In [22]:
my_empty_list = []
my_empty_list

[]

**Exercise:** You are analyzing sports teams.  Members of each team are stored in a list. The Coach is the first name in the list, the captain is the second name in the list, and other players are listed after that. 
These lists are stored in another list, which starts with the best team and proceeds through the list to the worst team last.  

1. Complete the function below to select the **captain** of the worst team.
2. construct examples to check your function

In [60]:
def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the captain (2nd name in the list)
    from the last listed team
    """
    return teams[-1][1]

In [61]:
team_1 = ['Peter', 'Jack', 'player_1', 'player_2', 'player_3']
team_2 = ['Mac', 'Jane', 'player_11', 'player_21', 'player_31']
teams = [team_1, team_2]
losing_team_captain(teams)

'Jane'

**Exercise:** Complete the function below according to its docstring.

In [ ]:
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    if len(L) >= 2:
        return L[1]
    else:
        None

In [ ]:
L = [1,2]
select_second(L)

2

**Exercise:** The next iteration of Mario Kart will feature an extra-infuriating new item, the *Purple Shell*. When used, it warps the last place racer into first place and the first place racer into last place. 

1. Complete the function below to implement the Purple Shell's effect.
2. Try it on the list '["Mario", "Bowser", "Luigi"]' (you should get ["Luigi", "Bowser", "Mario"])

In [62]:
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    """
    first_racer = racers[0] 
    last_racer = racers[-1]
    racers[0] = last_racer
    racers[-1] = first_racer
    return racers

In [63]:
racers = ["Mario", "Bowser", "Luigi"]
purple_shell(racers)

['Luigi', 'Bowser', 'Mario']

Another thing we might want to do to a list is **append a value**.  We can do this
using the `append` *method* of the list.  A *method* is a function attached to a value.

In [23]:
my_list.append(7)
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7]

In [12]:
my_list.append(1)
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7, 1]

In [13]:
my_list = [3, 5, 1, 3]
my_list.count(3), my_list.count(1)

(2, 1)

Notice that we *call* the method using the name of the list - here
`my_list`, followed by a dot, followed by the name of the method, here
`append` and `count`.  `append` and `count` are methods attached to `my_list`.

We can also use some functions on a list like the `sum()`function.

In [15]:
my_list = [3, 5, 1, 3]
sum(my_list)

12

Concatenation of two lists.

In [16]:
list1 = [1, 2] 
list2 = [3, 4]
list1 + list2

[1, 2, 3, 4]

**Careful of the brackets:** You need square brackets - `[` and `]` to make a list.  If you use
parentheses `()` or curly brackets `{}` - you’ll get something other than
a list.

**Exercise:** <span title="A bit spicy" style="color: darkgreen ">🌶️</span> We're using lists to record people who attended our party and what order they arrived in. For example, the following list represents a party with 7 guests, in which Adela showed up first and Ford was the last to arrive:

    party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

A guest is considered 'fashionably late' if they arrived after at least half of the party's guests. However, they must not be the very last guest (that's taking it too far). In the above example, Mona and Gilbert are the only guests who were fashionably late.

Complete the function below which takes a list of party attendees as well as a person, and tells us whether that person is fashionably late.

In [ ]:
#You can check if en element is in a list with 'in'
my_list = [1, 2, 3]
2 in my_list

True

In [ ]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    nb_of_guest = len(arrivals)
    if name in arrivals[int(nb_of_guest/2)+1:-1]:
        print(f'{name} is fashionably late')
    else:
        print(f'{name} is not fashionably late')

In [ ]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
fashionably_late(party_attendees, 'Gilbert')

Gilbert is fashionably late

### <span title="A bit spicy" style="color: darkgreen ">🌶️</span> Two other useful methods for lists: `del` and `remove`

In [6]:
my_list = ['stat', 'python', 'marketting']
#We know how to append in a list
my_list.append('micro')
#We know how to count the number of times a given item appears in a list
print(my_list.count('python'))
my_list

1

['stat', 'python', 'marketting', 'micro']

In [7]:
# Next, we can remove items from a list: either by giving the index
del my_list[0]
my_list

['python', 'marketting', 'micro']

In [8]:
# Or by remving the item via its name
my_list.remove('micro')
my_list

['python', 'marketting']

In [11]:
list1 = [1, 1, 2, 3, 1]
list1.remove(1) #it only removes the first $1$
list1

[1, 2, 3, 1]

**Warning:** There are two ways to copy a list: either by making copy identical to the original one or by making an independent copy.

In [23]:
my_list = ['a', 'b', 'c']
my_list_2 = my_list # This is a copy identical to the original one
my_list_2.append('d') # When the copy is modified this will make the same modification to the original one
my_list

['a', 'b', 'c', 'd']

In [24]:
my_list_3 = my_list.copy() # This is a copy independent to the original one
my_list_3.append('e') # When the copy is modified this will NOT make the modification to the original one
my_list

['a', 'b', 'c', 'd']

#### <span title="A bit spicy" style="color: darkgreen ">🌶️</span> Loops on lists

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

#### <span title="A bit spicy" style="color: darkgreen ">🌶️</span> <span title="A bit spicy" style="color: darkgreen ">🌶️</span> List comprehension

In [ ]:
# fill a list using a for loop
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)

squares

[0, 1, 4, 9, 16]

In [25]:
# fill a list using list comprehension
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums] 
squares

[0, 1, 4, 9, 16]

In [26]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0] 
even_squares

[0, 4, 16]

**Exercise:** If we list all the natural numbers below $10$  that are multiples of $5$  or $3$, we get $3, 5, 6$ and $9$. The sum of these multiples is $23$.

Find the sum of all the multiples of $3$  or $5$  below $1000$.

In [4]:
nb_multi_3_or_5 = [x for x in range(1, 1000) if x % 3 == 0 or x % 5 == 0]
sum(nb_multi_3_or_5)

233168

#### <span title="A bit spicy" style="color: darkgreen ">🌶️</span> <span title="A bit spicy" style="color: darkgreen ">🌶️</span> enumerate

It's common when iterating to want to keep track of the index when iterating over a sequence. Python has a built-in function called `enumerate` just for this:

In [ ]:
for idx, animal in enumerate(animals):
    print(f'#{idx + 1}: {animal}')

#1: cat
#2: dog
#3: monkey

#### <span title="A bit spicy" style="color: darkgreen ">🌶️</span><span title="A bit spicy" style="color: darkgreen ">🌶️</span> zip

`zip` is a useful function to pair elements of a lists, tuples or other sequences to create a list of tuples:

In [ ]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)

list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]